body{
  margin: 0;
  background-color: #f3f3f3;
}
.splash-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 66vh;
}

/* *, *::before, *::after{
  box-sizing: border-box;
} */

#computer > .taken,
#computer > .boom{
  background-color: hsl(200, 100%, 50%) !important;
  border-radius: 0 !important;
  animation: none !important;
}


.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.splash-title{
  font-size: 10rem;
}

.btn{
  background-color: hsl(30, 100%, 50%);
  padding: .5em 1em;
  outline: none;
  border: none;
  text-decoration: none;
  cursor: pointer;
  border-radius: .2em;
  color: #333;
}

.btn:first-child{
  margin-right: .3em;
}
.btn:last-child{
  margin-left: .7em;
}

.btn:hover, .btn:focus{
  background-color: hsl(30, 100%, 40%);
}

.splash-btn{
  font-size: 2rem;
  margin-left: 2rem;
}

.splash-btn:first-child{
  margin-left: 0;
}

.hidden-info{
  font-size: 1.5rem;
  align-items: center;
  flex-direction: column;
}

.info-text{
  margin: 1rem
}

.taken.start.vertical,
.taken.start.vertical::before {
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
}
.taken.end.vertical,
.taken.end.vertical::before {
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
}
.taken.start.horizontal,
.taken.start.horizontal::before {
  border-top-left-radius: 50%;
  border-bottom-left-radius: 50%;
}
.taken.end.horizontal,
.taken.end.horizontal::before {
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}

.taken.vertical::before,
.taken.horizontal::before {
  content: '';
  position: absolute;
  border: .3vmin solid rgba(255, 255, 255, 0.8);
  top: -1px;
  bottom: -1px;
  left: -1px;
  right: -1px;
}

.taken.horizontal::before {
  animation: ripplesY 3s linear infinite;
  border-left: none;
  border-right: none;
}

.taken.vertical::before {
  animation: ripplesX 3s linear infinite;
  border-top: none;
  border-bottom: none;
}

#gamesboard-container{
  width: 100%;
  display: flex;
  justify-content: center;
}

.game-board{
  margin: 2vmin;
  display: grid;
  background-color: hsl(200, 100%, 50%);
  grid-template-rows: repeat(10, 4.6vmin);
  grid-template-columns: repeat(10, 4.6vmin);
  /* width: 400px;
  height: 400px;
  display: flex;
  flex-wrap: wrap; */
}

.block{
  /* width: 40px;
  height: 40px; */
  border: 1px solid hsla(0, 0%, 100%, .2);
}

.taken{
  background-color: hsl(0, 0%, 80%);
  position: relative;
}

.option-container{
  width: 500px;
  height: 60px;
  margin: 30px 0  ;
  background-color: yellow;
  display: flex;
  align-items: center;
}

/* .destroyer{
  background-color: brown;
}

.submarine{
  background-color: green;
}

.cruiser{
  background-color: purple;
}

.battleship{
  background-color: orange;
}

.carrier{
  background-color: blue;
} */

.destroyer-preview{
  width: 20px;
  height: 10px;
  margin: 3px;
}

.submarine-preview{
  width: 30px;
  height: 10px;
  margin: 3px;
}
.cruiser-preview{
  width: 30px;
  height: 10px;
  margin: 3px;
}

.battleship-preview{
  width: 40px;
  height: 10px;
  margin: 3px;
}

.carrier-preview{
  width: 50px;
  height: 10px;
  margin: 3px;
}

.empty,
.boom {
  display: flex;
  justify-content: center;
  align-items: center;
}

.boom::after,
.empty::after {
  content: '';
  position: absolute;
  border-radius: 100%;
  width: 2vmin;
  height: 2vmin;
}

.empty::after {
  background-color: white;
}

.boom::after {
  background-color: red;
}

.empty::before{
  content: '';
  position: absolute;
  animation: hit .2s ease-out forwards;
  border: .1vmin solid white;
  border-radius: 100%;
  width: 2vmin;
  height: 2vmin;
}

.boom {
  animation: hit .2s ease-out forwards;
}

.empty::before {
  border-color: white;
}

.boom {
  animation: boom .2s ease-out forwards;
}

.player{
  margin: 2vmin;
}

.connected, .ready{
  font-weight: normal;
  opacity: .25;
  text-decoration: line-through;
}

.connected.active,
.ready.active {
  opacity: 1;
  text-decoration: none;
}

@keyframes ripplesX {
  0% {
    opacity: 1;
    transform: scaleX(1);
  }

  100% {
    opacity: 0;
    transform: scaleX(1.5);
  }
}

@keyframes ripplesY {
  0% {
    opacity: 1;
    transform: scaleY(1);
  }

  100% {
    opacity: 0;
    transform: scaleY(1.5);
  }
}

@keyframes hit {
  0% {
    opacity: 1;
    transform: scale(0);
  }

  100% {
    opacity: 0;
    transform: scale(2);
  }
}

@keyframes boom {
  0% {
    background-color: red;
  }

  100% {
    background-color: hsl(0, 0%, 80%);
  }
}